
<div class="cocktails-index">

  <% @cocktails.each do |cocktail| %>
  <% if cocktail.name != nil %>
   <div class="cocktail-index">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="type">
      <div class="image-cock">
        <%# <img class="image-cock" src="cocktail.image " alt="cocktail" style='height: 24.6vw;'> %>
      </div>

        <h2 style="font-size: 6vw;"> <%= cocktail.name %> </h2>
        <%= image_tag "fleche0.svg" %>
      </div>
        <% end %>
    <div class="line-white"></div>
  </div>
        <% end %>
  <% end %>
</div>
