// Import page-specific CSS files here.
@import "home";

.alcools {
  display: grid;
  grid-template-columns: 1fr;
  .alcool {
    display: flex;
    flex-direction: column;
    align-items: end;
    a {
      text-align: end;
      display: flex;
      align-items: end;
      justify-content: end;
      text-decoration: none;
    }
    .type {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      h1 {
        font-size: 12.5vw;
        margin: 0;
        color: #FAF8F6;
        text-align: end;
        margin: 6vh 0px;
        line-height: 139px;
      }
      img {
        height: 9vw;
      }
      }
      .line-orange {
        width: 100vw;
        background: #FF7A00;
        border: 0.5px solid #FF7A00;
    }
  }

}
