@import "home";

.cocktails-index {
background-color: black;
margin-top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: end;

  .cocktail-index {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    a {

      text-decoration: none;
    }
    .type {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      width: 70vw;

      h2 {
        font-size: 6vw;
        // margin: 0;
        // color: #FAF8F6;
        text-align: end;
      }
      img {
        height: 7vw;
      }
      }
      .line-white {
        width: 100vw;
        background: #FAF8F6;
      border: 0.5px solid #FAF8F6;
    }
  }
  .image-cock{
    position: absolute;
    top: 0vh;
    left: 5vw;
    img {
      background-color: #FAF8F6;
      z-index: -3;
  }
  }
}
.line-orange {
  width: 100vw;
  background: #FF7A00;
  border: 0.5px solid #FF7A00;
}
