
.illus {
  display: flex;
  position: fixed;
  top: 0;
  align-items: end;
  justify-content: end;
  left: 0;
  background-color: white;
  z-index: -1;
  height: 100vh;
  width: 100vw;

  img {
    position: fixed;
    /* bottom: -2vh; */
    right: 0;
    top: 10vh;
    background-color: #FAF8F6;
    z-index: -1;
    margin: 2vh 1vw;
    height: 88vh;

  }
}

.search {
  top: 0;
  position: fixed;
  left: 0;
  background-color: black;
  width: 100vw;
  z-index: 3;
  padding: 2vh;
  height: 8vh;




  .search-bar {
    display: flex;
    justify-content: center;
    z-index: 50;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
    gap: 2vh;
    position: sticky;
    justify-content: space-between;
    width: 84vw;
    margin-left: 10vw;

    #form-cocktail {
      background-color: black;
      padding: 10px;
      border-radius: 42px;
      border: 2px solid #FF7A00;
      width: 36vw;
      display: flex;
      height: 4vh;
      justify-content: space-between;
      .form-control {
        color: #FAF8F6;
        font-family: 'Raleway';
        font-size: 1.25vw;
      }
      &:focus {
        background-color: none;
        border: none;
      }
    }
    input {
      width: 29vw;
      background: none;
      border: none;
      color: white;
      outline: none;
      &:focus {
        background-color: none;
        border: none;
        outline: none;
      }
    }
    #query {
      width: 29vw;
      background: none;
      border: none;
      color: white;
      outline: none;
      &:focus {
        background-color: none;
        border: none;
        outline: none;
      }

    }
    #nav-bar-bnt {
      color: white;
      background: none;
      border: none;
      background-image: image-url('search.svg');
      height: 3vw;
      width: 4vw;
      background-repeat: no-repeat;
      background-size: 3vw;
      cursor: pointer;

      &:focus {
        background-color: none;
        border: none;
      }
    }
  }
}

.cocktail-sample{
  margin-left: 10vw;
  margin-top: 14vh;
  h2 {
    color: black;

  }

  .recette-sample{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89vw;

    .ingr-im-sample{
      display: grid;
      grid-template-columns: 22vw 1fr;
      gap: 3vw;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 3vw;
    }
    @media(max-width: 375px)  {
      .ingr-im-sample {
        grid-template-columns: 1fr
      }

    }
    .card-sample{
      height: 30vh;
    }
    h2 {
      margin: 0;
      margin-top: 2vw;
      // width: 60vw;
      color: #FF7A00;

    }
    img{
      height: 30vh;
      border-radius: 2vw;
      border: 2px solid #FF7A00;
    }
    .ingr-sample {
      display: grid;
      text-align: start;
      grid-template-columns: 1fr 1fr;
      h3{
        padding: 1.25vw;
        font-size: 2vw;
        color: black;

      }
    }
      @media(max-width: 375px)  {
        .ingr-sample {
          grid-template-columns: 1fr 1fr;

          text-align: center;
        }


    }

    .line-orange {
      // width: 100vw;
      background: black;
      border: 0.5px solid black;
      margin: 3vw 0;
    }
    p {
      text-align: start;
      margin: 0;
      font-size: 2vw;

      margin-top: 2vw;
      color: black;
    }

    }

  }
