

.cocktail{
  margin-left: 10vw;
  margin-top: 2vh;
  h2 {
    color: black;

  }

  .recette{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 89vw;

    .ingr-im{
      display: grid;
      grid-template-columns: 22vw 1fr;
      gap: 3vw;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 5vh 3vw;
    }
    @media(max-width: 375px)  {
      .ingr-im {
        grid-template-columns: 1fr
      }

    }
    .card{
      height: 30vh;
    }
    h2 {
      margin: 0;
      margin-top: 2vw;
      // width: 60vw;
      color: #FAF8F6;

    }
    img{
      height: 30vh;
      border-radius: 2vw;
      border: 2px solid #FF7A00;
    }
    .ingr {
      display: grid;
      text-align: start;
      grid-template-columns: 1fr 1fr;
    }
      @media(max-width: 375px)  {
        .ingr {
          grid-template-columns: 1fr 1fr;

          text-align: center;
        }
      h3{
        padding: 1.25vw;
        font-size: 2vw;
        color: #FF7A00;

      }

    }

    .line-orange {
      // width: 100vw;
      background: #FF7A00;
      border: 0.5px solid #FF7A00;
      margin: 3vw 0;
    }
    p {
      text-align: start;
      margin: 0;
      font-size: 2vw;

      margin-top: 2vw;
      color: #FAF8F6;
    }

    }

  }
