<div class="search">
  <div class ="search-bar">

    <%= form_with url: cocktails_path(@cocktail), method: :get, class: "d-flex", id: 'form-cocktail' do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your dream cocktail...!"
      %>

        <%= submit_tag " ", id: "nav-bar-bnt"  %>
    <% end %>
  </div>
  <div class="illus">
    <%= image_tag "allcocktails2.png" %>
  </div>
</div>
