<div class="alcools-show">
  <div class="alcool-show">
    <div class="type-show">
      <h1> <%= @alcool.name %> </h1>
      <%# <%= image_tag "flecheN.svg" %>
    </div>
  </div>
    <div class="line-orange"></div>
</div>
<h2>Mojito</h2>
