<div class="homepage" data-content="BEGIN">
 <%= link_to alcools_path do %>
  <div class="begin">
    <h1>BEGIN !</h1>
    <%= image_tag "flecheB.svg" %>
  </div>
  <% end %>
  <div class="illus-home">
    <%= image_tag "allcocktails.png" %>
  </div>
</div>
