.navbar {
  height: 100vh;
  position: fixed;
  background-color: black;
  margin: 0;
  top: 0;
  z-index: 100;
  border-right: 1px solid #FF7A00;

}


.navbar {
  max-width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar .links {
  padding: 7.5vh 0px;
  display: flex;
  flex-direction: column;
  // gap: 1vh;
}

.navbar .line-1 {
  width: 100%;
      background: #FF7A00;
      border: 0.5px solid #FF7A00;
}
.navbar a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: all 0.5s ease;
  color: white;
  font-size: 9vh;
  text-decoration: none;
  img {
    height: 0.95em;
    margin: 13px;
  }
}
